<!DOCTYPE html>
<html>

<head>
  <title>CryptoTracker.io</title>
  <style>
    /* Add your styles here if needed */
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  
<h1>Top 10 Trending Coins</h1>

<% for (let i = 0; i <=9; i++) { %>

    <h3><%= coins[i].symbol %></h3> 
    <p><%= coins[i].price %></p> 
    <p><%= coins[i].marketCap %></p> 
z
  <% } %>

  <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">


      <% for (let i = 0; i <=9; i++) { %>

                
       
    
      


      <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="<%= coins[i].iconUrl %>" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0"><%= coins[i].symbol %></h6>
            <p class="mb-0 opacity-75"><%= coins[i].price %></p>
          </div>
          <small class="opacity-50 text-nowrap"><%= coins[i].marketCap %></small>
        </div>
      </a>
      <% } %>
    
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
